body{
	background: black;
	color:white;
	}

#jumb_h{
font-family: 'Chonburi', cursive;

}
#jumb_p{
	font-family: 'Pacifico', cursive;
}
.left_box{
	margin-top: 75px;
}
.card_detail{
	color:black !important;
	margin-top: 30px;
	font-family: 'Gaegu', cursive;
}


.middle_tab{
	margin-top: 75px;
		text-align: center;
}

.last_tab{
	margin-top: 200px;
	margin-left: 50px;

}
#bullet{
	font-family: 'Indie Flower', cursive;
	font-size: 30px;
}
#card_text{
	font-family: 'Coda Caption', sans-serif;
}

.nav_design{
margin-top: -30px;
font-family: 'Chela One', cursive;
}